#login,
#password {
  min-width: 50%;
  height: 40px;
  border: 1px solid #ccc;

  border-radius: 0.8rem;
  padding: 1.5rem;
  margin-bottom: 10px;
}

#role {
  min-width: 50%;
  height: 40px;
  border: 1px solid #ccc;

  border-radius: 0.8rem;
  padding: 1.5rem;
  margin-bottom: 10px;
}
